@import '@/styles/mixins';

.root {
  @include flex(column, 12px);

  .error {
    color: var(--color-danger-300);
  }

  .item {
    @include flex(row, 0, 12px, center);

    cursor: pointer;

    &.disabled {
      cursor: auto;
      color: var(--color-light-900);
    }

    .indicator {
      position: relative;
      z-index: 10;

      width: 8px;
      height: 8px;

      background-color: var(--color-accent-500);
      border-radius: 50%;
    }

    .radio {
      @include interactive-circle(--color-accent-900);

      all: unset;

      position: relative;

      display: grid;
      place-items: center;

      box-sizing: border-box;
      width: 16px;
      height: 16px;

      .frame {
        position: absolute;
        z-index: 5;
        inset: 0;

        box-sizing: border-box;

        border: 2px solid var(--color-accent-500);
        border-radius: 50%;
      }

      &:disabled {
        &::before,
        &::after {
          @include animation-circle-control(0);
        }

        .frame {
          border-color: var(--color-accent-900);
        }

        .indicator {
          background-color: var(--color-accent-900);
        }
      }
    }
  }
}
