@import '@/styles/mixins';

.label {
  color: var(--color-dark-100);

  &.labelDisabled {
    color: var(--color-dark-300);
  }

  .icon {
    transform: rotate(180deg);
    fill: var(--color-light-100);
    transition: 0.2s;
  }
}

.trigger {
  @include flex(row, 0, 12px, center, space-between);

  cursor: pointer;

  width: 100%;
  padding: 0.37rem 0.75rem;

  color: var(--color-light-100);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-100);
  border-radius: 0.125rem;
  outline: none;

  &.small {
    column-gap: 6px;
    padding: 0 0.1rem 0 0.4rem;
    font-size: var(--font-size-s);
  }

  &:focus-visible:not([data-disabled]) {
    border-color: var(--color-info-700);
    outline: 1px solid var(--color-info-700);
  }

  &[data-state='open'] {
    border-color: var(--color-dark-100);
    border-radius: 2px 2px 0 0;

    .icon {
      transform: rotate(360deg);
    }
  }

  &:hover:not([data-disabled]) {
    cursor: pointer;
    background-color: var(--color-dark-500);
  }

  &[data-disabled] {
    cursor: initial;
    color: var(--color-dark-300);
    border-color: var(--color-dark-300);
  }
}

.triggerDisabled {
  cursor: auto;
  border: 1px solid var(--color-dark-300);

  & span {
    color: var(--color-dark-300);
  }

  .iconDisabled {
    transform: rotate(180deg);
    color: var(--color-dark-300);
    fill: var(--color-dark-300, #4c4c4c);
  }
}

.content {
  z-index: 1200;

  width: var(--radix-select-trigger-width);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-100);
  border-radius: 0 0 2px 2px;

  .item {
    cursor: pointer;
    padding: 0.37rem 0.75rem;
    outline: none;
    transition: 0.2s ease-out;

    &.small {
      padding: 0 0.4rem;
      font-size: var(--font-size-s);
    }

    &:hover,
    &:focus-visible,
    &[data-state='checked'] {
      color: var(--color-accent-300);
      background-color: var(--color-accent-900);
    }
  }
}
