.root {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-dark-500);
}

.head {
  background-color: var(--color-dark-500);
}

.headCell {
  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  text-align: left;
}

.row {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-dark-500);
  }
}

.cell {
  padding: 6px 24px;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.empty {
  display: grid;
  place-items: center;
  padding: 60px 0;
}
