@import '@/styles/mixins';

.label {
  @include flex(column, 7px);

  .root {
    width: max-content;

    &:has(:focus-visible) {
      border-radius: 2px;
      outline: 2px solid var(--color-info-700);
      outline-offset: -1px;
    }

    .trigger {
      all: unset;

      cursor: pointer;

      padding: 6px 24px;

      color: var(--color-light-100);

      background: transparent;
      border: 1px solid var(--color-dark-300);
      border-left: none;

      transition: all 0.3s;

      &:first-child {
        border-left: 1px solid var(--color-dark-300);
        border-radius: 2px 0 0 2px;
      }

      &:last-child {
        border-radius: 0 2px 2px 0;
      }

      &:hover {
        background-color: var(--color-dark-700);
        border-color: var(--color-dark-100);
      }

      &:active {
        color: var(--color-light-100);
        background-color: var(--color-accent-500);
        border-color: var(--color-accent-500);
      }

      &[data-state='active'] {
        color: var(--color-light-100);
        background-color: var(--color-accent-500);
        border-color: var(--color-accent-500);
      }

      &[data-disabled] {
        cursor: initial;
        color: var(--color-dark-300);
        background-color: var(--color-dark-700);
        border-color: var(--color-dark-300);
      }
    }
  }
}
