@import '@/styles/mixins';

.trigger {
  all: unset;

  cursor: pointer;

  position: relative;

  display: grid;
  place-items: center;

  border-radius: 50%;
}

.content {
  position: relative;
  z-index: 101;

  padding: 0 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  &[data-state='open'] {
    animation: fade-in 300ms linear;
  }

  &[data-state='closed'] {
    animation: fade-out 300ms linear;
  }

  .arrowBox {
    position: relative;
    stroke-width: 2px;

    &.arrow {
      position: absolute;
      top: -3.75px;
      right: calc(50% - 3px);
      transform: rotate(45deg);

      width: 9px;
      height: 9px;

      background-color: var(--color-dark-700);
      border: 1px solid var(--color-dark-500);
      border-top: none;
      border-left: none;
    }
  }
}

.itemsBox {
  display: flex;
  flex-direction: column;

  .item {
    @include flex(row, 6px, 6px, center);

    cursor: pointer;

    padding: 12px 0;

    font-size: 14px;
    line-height: 24px;

    outline: none;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-dark-500);
    }

    svg {
      fill: var(--color-light-100);
    }

    p,
    svg {
      transition: 0.3s;
    }

    &:focus {
      p {
        color: var(--color-info-300);
      }

      svg {
        fill: var(--color-info-300);
      }
    }

    &:hover {
      p {
        color: var(--color-accent-100);
      }

      svg {
        fill: var(--color-accent-100);
      }
    }

    &[data-disabled] {
      pointer-events: none;
      cursor: unset;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
