@mixin flex(
  $direction,
  $rowGap: 0,
  $colGap: 0,
  $align-items: flex-start,
  $justify-content: flex-start
) {
  display: flex;
  flex-direction: $direction;
  row-gap: $rowGap;
  column-gap: $colGap;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin animation-circle-control($scale, $color: transparent) {
  transform: translate(-50%, -50%) scale($scale);
  background-color: var($color);
}

@mixin interactive-circle-element($size) {
  &::before,
  &::after {
    @include animation-circle-control(0);

    content: '';

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    display: block;

    width: $size;
    height: $size;

    border-radius: 50%;

    transition: 0.3s;
  }
}

@mixin interactive-circle($active-color, $hover-color: --color-dark-500, $size: 36px) {
  @include interactive-circle-element($size);

  &:focus-visible::before {
    @include animation-circle-control(1, $hover-color);
  }

  &:hover::before {
    @include animation-circle-control(1, $hover-color);
  }

  &:active::after {
    @include animation-circle-control(1, $active-color);

    transition: 0s;
  }

  &:disabled::before,
  &:disabled::after {
    @include animation-circle-control(0, transparent);
  }
}

@mixin link-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin container($width, $padding-inline: 12px) {
  box-sizing: content-box;
  max-width: $width;
  margin: 0 auto;
  padding-inline: $padding-inline;
}
