@mixin flex(
  $direction,
  $rowGap: 0,
  $colGap: 0,
  $align-items: flex-start,
  $justify-content: flex-start
) {
  display: flex;
  flex-direction: $direction;
  row-gap: $rowGap;
  column-gap: $colGap;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin animation-circle-control($scale, $color: transparent) {
  transform: translate(-50%, -50%) scale($scale);
  background-color: var($color);
}
