@import '@/styles/mixins';

.root {
  transition: 0.3s;

  &:hover,
  &:focus-within {
    background-color: var(--color-dark-800);
  }

  .answerCell {
    width: 240px;
  }

  .question,
  .answer {
    @include flex(row, 0, 12px, center);

    column-gap: 16px;
    word-break: break-word;

    .cover {
      height: 50px;
    }
  }

  .controls {
    width: 96px;
    text-align: center;

    .buttons {
      @include flex(row, 0, 12px, center, center);
    }
  }

  @media (width >= 950px) {
    .date {
      width: 180px;
    }

    .grade {
      width: 170px;
    }
  }
}
