@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0.375rem 1.75rem;

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;

  background: transparent;
  border: none;
  border-radius: 0.25rem;

  &:disabled {
    cursor: initial;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include button;

  color: var(--color-light-100);
  background: var(--color-accent-500);
  box-shadow: 0 4px 18px rgb(140 97 255 / 35%);

  &:hover {
    background: var(--color-accent-300);
  }

  &:active {
    background: var(--color-accent-700);
  }

  &:focus-visible {
    background: var(--color-accent-500);
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background: var(--color-accent-900);
  }
}

.secondary {
  @include button;

  color: var(--color-light-100);
  background: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  &:hover {
    background: var(--color-dark-100);
  }

  &:active {
    background: var(--color-dark-500);
  }

  &:focus-visible {
    background: var(--color-dark-300);
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background: var(--color-dark-300);
  }
}

.tertiary {
  @include button;

  width: 7rem;
  height: 2.25rem;
  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);

  &:hover {
    background: var(--color-dark-500);
    border: 1px solid var(--color-accent-700);
  }

  &:active {
    background: var(--color-accent-900);
    border: 1px solid var(--color-accent-700);
  }

  &:focus-visible {
    background: transparent;
    outline: 0.125rem solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
  }
}

.link {
  @include button;

  margin-left: -0.75rem;
  padding: 0.375rem 0.75rem;

  font-size: 1rem;
  color: var(--color-accent-500);
  text-decoration: none;

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:focus-visible {
    color: var(--color-accent-500);
    border-radius: 2rem;
    outline: 0.125rem solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}
