.button {
  all: unset;

  display: grid;
  place-items: center;

  box-sizing: border-box;
  min-width: 24px;
  height: 24px;
  padding-inline: 4px;

  font-size: var(--font-size-s);
  color: var(--color-light-100);

  border-radius: 2px;
  outline: 2px solid transparent;

  transition: 0.3s;

  &:disabled {
    color: var(--color-dark-300);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:hover:enabled {
    cursor: pointer;
    background-color: var(--color-dark-500);
  }

  &:active:enabled,
  &.active:enabled {
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
  }
}
