@import '@/styles/mixins';

.root {
  position: fixed;
  top: 0;

  width: 100%;
  height: 60px;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);

  .container {
    @include flex(row, 0, 0, center, space-between);
    @include container(1010px);

    height: 100%;

    .logo {
      cursor: pointer;
    }
  }
}
